*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.body{
  font-family: 'Roboto', sans-serif;
}
.center{
  margin: 0 15%;
  height: 100%;
}
.fix{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}
.nav{
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
.english{
  margin-left: 5px;
  padding-right: 15px;
  border-right: 1px solid grey
}
.background-lightgrey{
  background-color: lightblue;
  border-bottom: 3px solid grey;
}
.contact-us{
  padding-left:15px;
}
.margin-left{
  margin-left: 50%;
}
.button{
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 15px;
  display: inline-block;
}
.button-border{
  color: orange;
  border: 1px solid orange;
  margin: 0 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}
.button-orange{
  background-color: orange;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
.logo-svg{
  height: 30px;
  width: 140px;
  margin: 15px 0 10px -20px;
}
.logo{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.navbar{
  display: inline-block;
  margin-left: 20%;
  height: 100%;
  width: 62%;
  vertical-align: middle;
}
.list{
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin-left: 3.5%;
}
.grey{
  color: grey;
}
.jumbotron{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 85vh;
  border-bottom: 4px solid darkgreen;
  margin-top: 120px;
}
.text-width-50{
  width: 50%;
}
.jumbotron-h1{
  font-size: 55px;
  padding-top: 50px;
}
.p-under{
  margin: 50px 0;
  font-weight: bold;
  color: grey;
}
.jumbotron-button{
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  font-size: 25px;
  padding: 15px 20px;
}
.jumbotron-span{
  font-weight:bold;
  padding-top: 45px;
}
.main-1{
  background-color: lightblue;
  padding-top: 55px;
}
.cube-section{
  text-align: center;
}
.cube-container{
  margin: 0px 20% 0px 20%;
}
.img-cube{
  width: 310px;
  height: 240px;
}
.h1-cube{
  font-size: 50px;
  font-weight: bold;
}
.freehub-section{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.float{
  float: left;
  position: relative;
}
.left{
  width: 35%;
}
.right{
  width: 65%;
}
.img-container-book{
  padding-left: 120px;
  padding-top: 60px;
  margin-bottom: 100px;
}
.img-book{
  width: 170px;
  height: 170px;
  padding-bottom: 10px;
}
.jumbotron-button{
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  font-size: 20px;
  padding: 15px 40px;
}
.float-h3{
  font-size: 35px;
  padding-top: 70px;
  padding-bottom: 35px;
}
.float-p{
  font-size: 17px;
  padding-bottom: 28px;
}
.float-h4{
  font-size: 23px;
  padding-bottom: 28px;
}
.li{
  display: inline-block;
  text-decoration: none;
  margin-left: 15px;
}
.fa-check-circle:before{
  color: orange;
  margin-right: 8px;
}
.li:first-child{
  margin-left: 0px;
}
.hub{
  width: 30%;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 0px, rgb(0 0 0 / 10%) 0px 0px 1px 0px;
}
.img-container-hub{
  padding-left: 105px;
  padding-top: 25px;
}
.img-hub{
  width: 110px;
  height: 110px;
}
.text-hubs{
  margin-top: 15px;
  text-align: center;
}
.hubs-h3{
  font-size: 23px;
  padding-bottom: 25px;
}
.p-hub{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 50px;
  border-bottom: 2px solid grey;
}
.hubs-h4{
  padding-top: 20px;
  padding-bottom: 20px;
}
.li-hubs{
  text-decoration: none;
  padding-top: 10px;
}
.ul-hubs{
  margin-bottom: 30px;
}
.hubs-button{
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
  font-size: 20px;
  padding: 15px 40px;
  margin-bottom: 20px;
}
